{% extends "archives.html" %}
{% block blog_title %}{{ category|e }} | {{ M_BLOG_NAME|e }}{% endblock %}
{% block blog_eyebrow %}Category{% endblock %}
{% block blog_heading %}{{ category|e }}{% endblock %}
{% block blog_lede %}<p class="page-lede" style="max-width:66ch">Posts in &ldquo;{{ category|e }}&rdquo;.</p>{% endblock %}
{% block social_url %}<meta property="og:url" content="{{ category.url|format_siteurl|e }}" />{% endblock %}
{% block blog_canonical %}<link rel="canonical" href="{{ (articles_page.url if articles_page and articles_page.number > 1 else category.url)|format_siteurl|e }}" />{% endblock %}
{% block blog_description %}Posts in the “{{ category }}” category of the michaelwolfinger.com blog by Michael T. Wolfinger.{% endblock %}
{% block blog_ldjson %}{% import '_ldjson.html' as ld with context %}{{ ld.listing_graph(category|string, SITEURL ~ '/' ~ category.url, self.blog_description(), false) }}{% endblock %}
