{% extends "archives.html" %}
{% block blog_title %}{{ category|e }} | {{ M_BLOG_NAME|e }}{% endblock %}
{% block blog_eyebrow %}Category{% endblock %}
{% block blog_heading %}{{ category|e }}{% endblock %}
{% block blog_lede %}<p class="page-lede" style="max-width:66ch">Posts in &ldquo;{{ category|e }}&rdquo;.</p>{% endblock %}
{% block social_url %}<meta property="og:url" content="{{ category.url|format_siteurl|e }}" />{% endblock %}
{% block blog_canonical %}<link rel="canonical" href="{{ category.url|format_siteurl|e }}" />{% endblock %}
