**/.DS_Store
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/
*~
michaelwolfinger_com.egg-info/**
Pelican/content/output/**
**/__pycache__/
Pelican/output/**
Pelican/.pytest_cache/
Pelican/output/
archives/*
authors/*
categories/*
output/*
tags/*
local_docs/*
